html, body {
      min-height: 100%;
      padding: 0;
      margin: 0;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      }
      h1 {
      margin: 0 75 30px;
      font-weight: 400;
      color: #1c87c9;
      }

      label {
        margin: 0 0 20px;
        font-weight: 400;
        font-size: 110%;
      color: #1c87c9;
        }

      #formdiv
      {
        margin-bottom: 30px;
      
      }  

      p {
      margin: 0 0 5px;
      }
      
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #1c87c9;
      }

      .forms
      {
        width: 400px;  background: #f5f5f5; padding: 20px; height: 550px;
      }

      .forms:hover
      {
        width: 400px; box-shadow: 0 2px 5px #f5f5f5; background: #fffdfd; padding: 20px; height: 550px;
      }

      form {
      margin-top: 20px;
      height: 700px;    
      padding: 25px;
      width: 1000px;
      margin: 25px;
   
       
      }
      
      input, textarea , select{
      width: calc(100% - 120px);
      float: right;
      padding: 8px;
      border: 1px solid #1c87c9;
      outline: none;
      }
      
      input::placeholder {
      color: #666;
      }

      button {
      width: 50%;
      margin-top: 04%;
      margin-left: 25%;
      margin-right: 25%;
      padding: 10px;
      border: none;
      background: rgb(238, 89, 20); 
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      }
      button:hover {
      background:rgb(243, 65, 20);
      }    
      