#navbar
{
  background-color:rgb(252, 94, 22);
  height:52px;   
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

#navlink
{
  float: left;
  display: block;
  color: rgb(0, 1, 2);
  text-align: center;
  font-family:calibri light;
  font-size:20px;
  padding: 14px 14px;
  text-decoration: none;
}

#navlink:hover
{
	background-color:#3d98ff;
}